.button-sign-up {
    text-transform: uppercase;
    color: $text-color-red;
    background-color: white;
    border: none;
    font-size: 1rem;
    padding: 1.2rem 3.71rem;
    border-radius: 0.42rem;
}