.page-section {
    width: 100%;
    box-sizing: border-box;
    padding: 6.71rem 11.78rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section_narrow {
    padding: 4.71rem;
}

.page-section_dark-bc {
    background-color: $bc-light;
}

.page-section_red-bc {
    background-color: $bc-red;
    color: $text-color-light;
}