.technology-card__icon {
    width: 5.71rem;
}

.technology-card {
    position: relative;
    width: 18.21rem;
    padding: 0 2.28rem;
    box-sizing: border-box;
    padding-top: 2.75rem;
    padding-bottom: 2.85rem;
}

.technology-card__number {
    text-transform: uppercase;
    font-size: 7.14rem;
    font-weight: bold;
    color: rgba(16, 16, 16, 0.08);
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: -4.9rem;
}