@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
*::before,
*::after {
  box-sizing: border-box; }

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0; }

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none; }

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto; }

a {
  text-decoration: none; }

/* Упрощаем работу с изображениями */
img {
  display: block; }

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em; }

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit; }

:root {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  background-color: salmon; }

.page-container {
  width: 100%; }

.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 11%;
  margin: 4.2rem 0; }
  .header * {
    flex-grow: 0; }
  .header * + * {
    margin-left: 2rem; }

.header > :nth-child(2) {
  flex-grow: 1; }

.main-logo {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .main-logo * + * {
    margin-left: 0.64rem; }

.main-logo__company-name {
  font-size: 1.28rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white; }

.main-logo__icon {
  width: 1.78rem; }

.main-navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .main-navigation__list li + li {
    margin-left: 2rem; }
  .main-navigation__list a {
    text-transform: uppercase;
    color: white; }

.language-change {
  display: flex;
  flex-direction: row; }

.language-change__button {
  position: relative;
  text-transform: uppercase;
  background: none;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 0px;
  padding-right: 1.7rem;
  margin-left: 1rem; }

.language-change__button::after {
  content: '▾';
  display: block;
  position: absolute;
  top: 0.1rem;
  right: 0;
  font-size: 1.4rem; }

.login-button {
  color: white;
  background: none;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 0.43rem;
  padding: 0.78rem 2rem;
  outline: none; }
