@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

$main-font: 'Lato', sans-serif;
$main-font-size: 14px;

$text-color-light: white;
$text-color-dark: black;
$text-color-red: #D52047;

$bc-light: #FAFAFA;
$bc-red: #ED4C5C;